<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new subject</title>
</head>

<body>
    <form method="post" action="http://localhost:3000/insert">
        SubjectId:<input type="text" name="sub_id"><br><br>
        Subjectname:<input type="text" name="sub_name"><br><br>
        Subjectcode:<input type="text" name="sub_code"><br><br>
        Professor:<input type="text" name="sub_prof"><br><br>
        <button>Submit</button>
    </form>
</body>

</html>